<%- include('./includes/head.ejs') %>

<body>
    <%- include('./includes/nav.ejs') %>

    <main>
        <h1>Page Was Not Found On The Server!</h1>
    </main>

<%- include('./includes/end.ejs') %>

